In [1]:
children =["Andrew","Laura","Joe"]
type(children)

list

In [14]:
children.append("Thomas")

In [6]:
children.pop(3)
children

['Andrew', 'Laura', 'Joe']

In [7]:
children.index("Joe")

2

In [9]:
print (children)
children.pop(children.index("Thomas"))
print (children)

['Andrew', 'Laura', 'Joe', 'Thomas']
['Andrew', 'Laura', 'Joe']

In [11]:
print (children)
children.remove("Thomas")
print (children)

['Andrew', 'Laura', 'Joe', 'Thomas']
['Andrew', 'Laura', 'Joe']

In [13]:
print (children)
children.pop()
print (children)

['Andrew', 'Laura', 'Joe', 'Thomas']
['Andrew', 'Laura', 'Joe']

In [15]:
print (children)
children.remove()
print (children)

['Andrew', 'Laura', 'Joe', 'Thomas']

TypeError: remove() takes exactly one argument (0 given)

In [16]:
#checking that input is an integer
'Frank' in children

False

In [17]:
'Joe' in children

True

In [19]:
'Joe'[2]

'e'

In [20]:
'k' in children[2]

False

In [21]:
'k' in '1234567890'

False

In [22]:
'1'  in '1234567890'

True

In [24]:
print(input("add an integer") in '1234567890' )

add an integerA
False

In [25]:
# With 3 rows and 4 columns
students = [["Joel", 85, 95, 70],
            ["Anne", 95, 100, 100],
            ["Mike", 77, 70, 80, 85]]
# With 3 rows and 3 columns
movies = [["The Holy Grail", 1975, 9.99],
          ["Life of Brian", 1979, 12.30],
          ["The Meaning of Life", 1983, 7.50]]

In [26]:
movies[1]

['Life of Brian', 1979, 12.3]

In [27]:
movies[1][0]

'Life of Brian'

In [29]:
students[1][3]

100

In [32]:
flick = []
flick.append('Kundun')
flick.append(1997)
flick.append(4.7)
movies.append(flick)
movies

[['The Holy Grail', 1975, 9.99],
 ['Life of Brian', 1979, 12.3],
 ['The Meaning of Life', 1983, 7.5],
 ['Kundun', 1997, 4.7]]

In [33]:
print(movies)

[['The Holy Grail', 1975, 9.99], ['Life of Brian', 1979, 12.3], ['The Meaning of Life', 1983, 7.5], ['Kundun', 1997, 4.7]]

In [109]:
lssimple =[1,2,1,3,2,2,2,2,]

In [35]:
lssimple.index(2)

1

In [36]:
lssimple.count(2)

5

In [39]:
children.reverse()

In [46]:
children.sort(key=str.lower)

In [74]:
children

['Andrew', 'Joe', 'Laura', 'Thomas']

In [111]:
lssimple

[1, 1, 2, 2, 2, 2, 2, 3]

In [48]:
print(min(lssimple))

1

In [49]:
print(max(lssimple))

3

In [56]:
#list[start_index:end_index:step]
fancy = [52,54,56,58,60,62]
print(fancy[0:2])
print(fancy[::-1])

[52, 54]
[62, 60, 58, 56, 54, 52]

In [57]:
print(fancy[0:4:2])
print(fancy[:2])

[52, 56]
[52, 54]

In [61]:
inv = ["staff","robe"]
chest = ["scroll","pestle"]

print(chest + inv)
print(inv + chest)

['scroll', 'pestle', 'staff', 'robe']
['staff', 'robe', 'scroll', 'pestle']

In [67]:
#inv -= chest
inv

['staff', 'robe']

In [63]:
chest

['scroll', 'pestle']

In [66]:
inv.pop()

'scroll'

In [72]:
tup =('staff', 'robe', 'scroll', 'pestle')

In [69]:
type(tup)

tuple

In [70]:
tup =(1,"e", 2.6)

In [73]:
a,b,c,d = tup
print("a: ",a)
print("b: ",b)
print("c: ",c)
print("d: ",d)

a:  staff
b:  robe
c:  scroll
d:  pestle

In [75]:
a,b,c,d = children
print("a: ",a)
print("b: ",b)
print("c: ",c)
print("d: ",d)

a:  Andrew
b:  Joe
c:  Laura
d:  Thomas

In [81]:
def dummy_gps():
    x =5
    y = 6
    z = 78
    return x,y,z

In [85]:
gy = dummy_gps()
type(gy)

tuple

In [84]:
a,b,c = dummy_gps()
print("a: ",a)
print("b: ",b)
print("c: ",c)

a:  5
b:  6
c:  78

In [94]:
gy

(5, 6, 78)

In [104]:
childset = {'Andrew', 'Joe', 'Laura', 'Thomas'}

In [88]:
type(childset)

set

In [89]:
'Bob' in childset

False

In [92]:
childset.insert('Wallace')

AttributeError: 'set' object has no attribute 'insert'

In [99]:
child = {'Thomas','Barbara'}

In [97]:
child & childset

{'Thomas'}

In [100]:
child | childset

{'Andrew', 'Barbara', 'Joe', 'Laura', 'Thomas'}

In [101]:
child = {'Thomas','Barbara','Thomas'}
child

{'Barbara', 'Thomas'}

In [105]:
#Python comprehensions
for i in childset:
    print(i)

Laura
Thomas
Andrew
Joe

In [108]:
dict(childset)

ValueError: dictionary update sequence element #0 has length 5; 2 is required

In [111]:
set(lssimple)

{1, 2, 3}

In [107]:
distinct_lssimple = { i for i in lssimple }
distinct_lssimple

{1, 2, 3}

In [108]:
distinctuple = ( i for i in lssimple )
distinctuple

In [112]:
child_list = [g for g in childset]
child_list

['Laura', 'Thomas', 'Andrew', 'Joe']

In [113]:
tf_gt2 = [ i <= 2 for i in lssimple]
tf_gt2

[True, True, True, False, True, True, True, True]

In [115]:
# tf_gt2 = [ i <= 2 for i in lssimple]
# tf_gt2 
tf_gt2 = []
for i in lssimple:
    tf_gt2.append(i <= 2 )
tf_gt2

[True, True, True, False, True, True, True, True]

In [120]:
#[x for x in childset]
lcs = list(childset)
lcs.index('Laura')

0

In [127]:
#set to dict

{list(childset).index(i)+1:i for i in list(childset) }

{1: 'Laura', 2: 'Thomas', 3: 'Andrew', 4: 'Joe'}

In [132]:
newbundle = zip(lssimple,tf_gt2)
tuple(newbundle)

((1, True),
 (2, True),
 (1, True),
 (3, False),
 (2, True),
 (2, True),
 (2, True),
 (2, True))

In [118]:
pc1 = [(i, i <= 2 ) for i in lssimple]
pc1

[(1, True),
 (1, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (3, False)]

In [120]:
my_dict = {'a': 1, 'b': 2, 'c': 3, 'a':4}
my_dict

{'a': 4, 'b': 2, 'c': 3}

In [185]:
my_dict2 = {'e': [1,3], 'b': "2", 'c': 3, 'a':[(1, True),
 (1, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (3, False)]}

In [126]:
my_dict2.items()

dict_items([('e', [1, 3]), ('b', '2'), ('c', 3), ('a', [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)])])

In [175]:
def sillytry(keyname):
    #exception handling
    #try block
    try:
        value = my_dict2[keyname]
    except KeyError:
        value = 'invalid key'
    return value

print(sillytry('a'))

invalid key

In [129]:
children[4]

IndexError: list index out of range

In [ ]:
IndexError: list index out of range
KeyError: ''

In [136]:
my_dict2

{'e': [1, 3],
 'b': '2',
 'c': 3,
 'a': [(1, True),
  (1, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (3, False)]}

In [137]:
my_dict2.pop('a')
my_dict2

{'e': [1, 3], 'b': '2', 'c': 3}

In [140]:
my_dict2.setdefault('h','newerdata')
my_dict2

{'e': [1, 3], 'b': '2', 'c': 3, 'h': 'newdata'}

In [141]:
value = my_dict2.get('f')
print(value is None)

True

In [143]:
type(my_dict2.get('f'))

NoneType

In [145]:
my_dict2.values()

dict_values([[1, 3], '2', 3, 'newdata'])

In [146]:
my_dict2.keys()

dict_keys(['e', 'b', 'c', 'h'])

In [147]:
my_dict2.items()

dict_items([('e', [1, 3]), ('b', '2'), ('c', 3), ('h', 'newdata')])

In [149]:
my_dict2['e']

[1, 3]

In [150]:
for k,v in my_dict2.items():
    print('key: {} value {}'.format(k,v))

key: e value [1, 3]
key: b value 2
key: c value 3
key: h value newdata

In [151]:
print(list(my_dict2))

['e', 'b', 'c', 'h']

In [153]:
child_d = dict(pc1)
child_d

{1: True, 2: True, 3: False}

In [156]:
contacts = {
    "Joel":{"address": "1500 Anystreet", "city": "San Francisco",
         "state": "California", "postalCode": "94110", 
         "phone": "555-555-1111"},
    "Anne":{"address": "1000 Somestreet", "city": "Fresno",
         "state": "California", "postalCode": "93704", 
         "phone": "125-555-2222"},
    "Ben": {"address": "1400 Another Street", "city": "Fresno",
         "state": "California", "postalCode": "93704", 
         "phone": "125-555-4444"}
}

In [159]:
print(contacts.keys())
print(contacts.items())
print(contacts.values())

dict_keys(['Joel', 'Anne', 'Ben'])
dict_items([('Joel', {'address': '1500 Anystreet', 'city': 'San Francisco', 'state': 'California', 'postalCode': '94110', 'phone': '555-555-1111'}), ('Anne', {'address': '1000 Somestreet', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-2222'}), ('Ben', {'address': '1400 Another Street', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-4444'})])
dict_values([{'address': '1500 Anystreet', 'city': 'San Francisco', 'state': 'California', 'postalCode': '94110', 'phone': '555-555-1111'}, {'address': '1000 Somestreet', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-2222'}, {'address': '1400 Another Street', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-4444'}])

In [161]:
contacts['Ben']['phone']

'125-555-4444'

In [165]:
contacts.get('Ben').get('phone')

'125-555-4444'

In [169]:
contacts.get('Anne').get('email')

In [176]:
members = ["John Cleese", "Eric Idle"]
with open("members.txt", "w") as file:
    for m in members:
        file.write(m + "\n")          # adds new line

In [177]:
!head members.txt

John Cleese
Eric Idle

In [178]:
pc1

[(1, True),
 (1, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (3, False)]

In [181]:
print(pc1[0][0]," ",pc1[0][1])

1   True

In [182]:
with open("pc1.txt", "w") as file:
    for m in pc1:
        file.write(str(pc1[0][0])+" "+str(pc1[0][1]) + "\n")          # adds new line

In [196]:
import csv

with open("pc1.csv", "w", newline="") as file:
    writer = csv.writer(file,delimiter= "~",)
    writer.writerows(pc1)

TypeError: 'builtin_function_or_method' object is not iterable

In [203]:
with open("my_dict2_items.csv", "w",  newline="") as file:
    writer = csv.writer(file)
    for x in list(my_dict2):
        writer.writerow(str(x)+str(my_dict2[x]))

In [200]:
my_dict2['a']

[(1, True),
 (1, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (3, False)]

In [191]:
csv.writer?

In [208]:
def calculate_future_value(monthly_investment, yearly_interest, 
                           years):
    # convert yearly values to monthly values
    monthly_interest_rate = yearly_interest / 12 / 100
    months = years * 12

    # calculate future value
    future_value = 0.0
    for i in range(1, months): 
        future_value += monthly_investment_amount
        monthly_interest = future_value * monthly_interest_rate
        future_value += monthly_interest

    return future_value

In [4]:
#SEH

ImportError: cannot import name 'pickle' from 'joblib' (C:\Users\andre\anaconda3\envs\hekahedron37\lib\site-packages\joblib\__init__.py)

In [5]:
tup =('staff', 'robe', 'scroll', 'pestle')

In [6]:
tup[4]

IndexError: tuple index out of range

In [7]:
dt = dict(tup)
dt

ValueError: dictionary update sequence element #0 has length 5; 2 is required

In [8]:
my_dict2 = {'e': [1,3], 'b': "2", 'c': 3, 'a':[(1, True),
 (1, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (3, False)]}

In [13]:
my_dict2["x"]

KeyError: 'x'

In [39]:
def get_error(var):
    try:
        return my_dict2[var]
    except ValueError as e:
        print(e)
        return "no key found for "+ str(var)
    except KeyError as e:
        print(e)
        return "no key found for "+ str(var)

In [38]:
get_error("x")

'x'

'nno key found for x'

In [24]:
sys.version

'3.7.9 (default, Aug 31 2020, 17:10:11) [MSC v.1916 64 bit (AMD64)]'

In [41]:

def get_error2(var):
    try:
        return dict(tup)
    except ValueError as e:
        print(e)
        return "no key found for "+ str(var)
    except KeyError as e:
        print(e)
        return "no key found for "+ str(var)

In [42]:
get_error2("g")

dictionary update sequence element #0 has length 5; 2 is required

'no key found for g'

In [43]:

def get_error3(var):
    try:
        return dict(tup)
    except IndexError as e:
        print(e)
        return "no key found for "+ str(var)
    except KeyError as e:
        print(e)
        return "no key found for "+ str(var)
    finally:
        print("task complete")

In [44]:
get_error3("g")

task complete

ValueError: dictionary update sequence element #0 has length 5; 2 is required

In [45]:

def get_error4(var):
    try:
        return dict(tup)
    except ValueError as e:
        print(e)
        return "no key found for "+ str(var)
    except IndexError as e:
        print(e)
        return "no key found for "+ str(var)
    except KeyError as e:
        print(e)
        return "no key found for "+ str(var)
    finally:
        print("task complete")

In [52]:
get_error4("f")

dictionary update sequence element #0 has length 5; 2 is required

Exception: educational tantrum

In [51]:
def get_error4(var):
    try:
        return dict(tup)
    except ValueError as e:
        print(e)
        return "no key found for "+ str(var)
    except IndexError as e:
        print(e)
        return "no key found for "+ str(var)
    except KeyError as e:
        print(e)
        return "no key found for "+ str(var)
    finally:
        raise Exception("educational tantrum")
        print("task complete")

In [53]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is 0CF2-974E

 Directory of c:\2104DSIWDX2\2021_04_DSI_WDX2\drew.minkin@divergence.one\py\Core Python Airlift\Day 2

07/07/2021  02:57 PM    <DIR>          .
07/07/2021  02:57 PM    <DIR>          ..
05/09/2021  04:31 PM            36,200 Day 2 Examples.ipynb
05/09/2021  03:00 PM               336 Day2_TODO.py
05/09/2021  03:25 PM             1,324 future_value.py
05/21/2021  03:31 PM                37 members.txt
05/09/2021  07:31 AM             1,091 movie.py
05/08/2021  06:32 AM             2,200 p6-3_contacts.py
05/21/2021  03:32 PM                64 pc1.txt
06/30/2021  03:43 PM    <DIR>          wizard_file_io
               7 File(s)         41,252 bytes
               3 Dir(s)  182,596,952,064 bytes free

In [54]:
#creates the new file
outfile = open("test.txt","w")
outfile.write("DSI_2021_04_WDX2")
outfile.close()

In [56]:
!head test.txt

DSI_2021_04_WDX2

In [59]:
#creates the new file
outfile2 = open("test.txt","a")
outfile2.write("DSI_2021_04_WDX2!!!")
outfile2.close()

In [60]:
!head test.txt

DSI_2021_04_WDX2DSI_2021_04_WDX2!!!

In [62]:
outfile2 = open("test.txt","a")
outfile2.write("\n")
outfile2.write(str(my_dict2))
outfile2.close()

In [63]:
!head test.txt

DSI_2021_04_WDX2DSI_2021_04_WDX2!!!

{'e': [1, 3], 'b': '2', 'c': 3, 'a': [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]}

In [64]:
# outfile2 = open("test.txt","a")
# outfile2.write("\n")
# outfile2.write(str(my_dict2))
# outfile2.close()
with open("test.txt","a") as outfile2:
    outfile2.write("\n")
    outfile2.write(str(my_dict2))

In [65]:
!head test.txt

DSI_2021_04_WDX2DSI_2021_04_WDX2!!!

{'e': [1, 3], 'b': '2', 'c': 3, 'a': [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]}
{'e': [1, 3], 'b': '2', 'c': 3, 'a': [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]}

In [67]:
with open("test.txt","r") as infile:
    readstuff = infile.read()
    print(readstuff)

DSI_2021_04_WDX2DSI_2021_04_WDX2!!!

{'e': [1, 3], 'b': '2', 'c': 3, 'a': [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]}
{'e': [1, 3], 'b': '2', 'c': 3, 'a': [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]}

In [91]:
with open("test.txt","r") as infile:
    i = 1
    for readstuff in infile:
        print("Line {}: {}".format(i,readstuff))
        i += 1

Line 1: DSI_2021_04_WDX2DSI_2021_04_WDX2!!!

Line 2:

Line 3: {'e': [1, 3], 'b': '2', 'c': 3, 'a': [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]}

Line 4: {'e': [1, 3], 'b': '2', 'c': 3, 'a': [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]}

In [94]:
#add notaion to data
something = []
with open("test.txt","r") as src:
    i = 1
    for readstuff in src:
        something.append("Line {}: {}".format(i,readstuff))
        #print("Line {}: {}".format(i,readstuff))
        i += 1
with open("test2.txt","w") as infile:
    infile.write(str(something))
    infile.close()

In [70]:

"Line {}: {}".format(i,readstuff)

'Line j: k'

In [76]:
!head test.txt2

[]

In [95]:
!head test2.txt

['Line 1: DSI_2021_04_WDX2DSI_2021_04_WDX2!!!\n', 'Line 2: \n', "Line 3: {'e': [1, 3], 'b': '2', 'c': 3, 'a': [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]}\n", "Line 4: {'e': [1, 3], 'b': '2', 'c': 3, 'a': [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]}"]

In [89]:
something

[]

In [96]:
import csv

In [102]:
with open("test2.txt") as file:
    reader = csv.reader(file, delimiter = ':' ,lineterminator = '\n')
    for row in reader:
        print("col1 "+row[0])
        print("\ncol2 "+row[1])

col1 ['Line 1

col2  DSI_2021_04_WDX2DSI_2021_04_WDX2!!!\n', 'Line 2

In [97]:
csv?

Type:        module
String form: <module 'csv' from 'C:\\Users\\andre\\anaconda3\\envs\\hekahedron37\\lib\\csv.py'>
File:        c:\users\andre\anaconda3\envs\hekahedron37\lib\csv.py
Docstring:
CSV parsing and writing.

This module provides classes that assist in the reading and writing
of Comma Separated Value (CSV) files, and implements the interface
described by PEP 305.  Although many CSV files are simple to parse,
the format is not formally defined by a stable specification and
is subtle enough that parsing lines of a CSV file with something
like line.split(",") is bound to fail.  The module supports three
basic APIs: reading, writing, and registration of dialects.


DIALECT REGISTRATION:

Readers and writers support a dialect argument, which is a convenient
handle on a group of settings.  When the dialect argument is a string,
it identifies one of the dialects previously registered with the module.
If it is a class or instance, the attributes of the argument are used as
the settings for the reader or writer:

    class excel:
        delimiter = ','
        quotechar = '"'
        escapechar = None
        doublequote = True
        skipinitialspace = False
        lineterminator = '\r\n'
        quoting = QUOTE_MINIMAL

SETTINGS:

    * quotechar - specifies a one-character string to use as the
        quoting character.  It defaults to '"'.
    * delimiter - specifies a one-character string to use as the
        field separator.  It defaults to ','.
    * skipinitialspace - specifies how to interpret whitespace which
        immediately follows a delimiter.  It defaults to False, which
        means that whitespace immediately following a delimiter is part
        of the following field.
    * lineterminator -  specifies the character sequence which should
        terminate rows.
    * quoting - controls when quotes should be generated by the writer.
        It can take on any of the following module constants:

        csv.QUOTE_MINIMAL means only when required, for example, when a
            field contains either the quotechar or the delimiter
        csv.QUOTE_ALL means that quotes are always placed around fields.
        csv.QUOTE_NONNUMERIC means that quotes are always placed around
            fields which do not parse as integers or floating point
            numbers.
        csv.QUOTE_NONE means that quotes are never placed around fields.
    * escapechar - specifies a one-character string used to escape
        the delimiter when quoting is set to QUOTE_NONE.
    * doublequote - controls the handling of quotes inside fields.  When
        True, two consecutive quotes are interpreted as one during read,
        and when writing, each quote character embedded in the data is
        written as two quotes

In [103]:
!head test2.txt

['Line 1: DSI_2021_04_WDX2DSI_2021_04_WDX2!!!\n', 'Line 2: \n', "Line 3: {'e': [1, 3], 'b': '2', 'c': 3, 'a': [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]}\n", "Line 4: {'e': [1, 3], 'b': '2', 'c': 3, 'a': [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]}"]