### Task 1: (Connect to the supplied petsDB, and (OPTIONAL) write a function to check if the connection is done)

In [24]:
import sqlite3
sql_connection = sqlite3.connect("petsdb")

In [25]:
def check_conn(conn):
    try:
        conn.cursor()
        return True
    except Exception as err:
        return False
print(check_conn(sql_connection))

True

In [26]:
sql_connection.close()
print(check_conn(sql_connection))

False

### Task 2: (What are the different age groups in the persons database)

In [27]:
sql_connection = sqlite3.connect("petsdb")
def check_conn(conn):
    try:
        conn.cursor()
        return True
    except Exception as err:
        return False
print(check_conn(sql_connection))

True

In [28]:
c = conn.cursor()
for ppl, age in c.execute("SELECT count(*) , age FROM persons GROUP BY age"):
    print("There are {} people that are age {}".format(ppl , age))

There are 2 people that are age 5
There are 1 people that are age 6
There are 1 people that are age 7
There are 3 people that are age 8
There are 1 people that are age 9
There are 2 people that are age 11
There are 3 people that are age 12
There are 1 people that are age 13
There are 4 people that are age 14
There are 2 people that are age 16
There are 2 people that are age 17
There are 3 people that are age 18
There are 1 people that are age 19
There are 3 people that are age 22
There are 2 people that are age 23
There are 3 people that are age 24
There are 2 people that are age 25
There are 1 people that are age 27
There are 1 people that are age 30
There are 3 people that are age 31
There are 1 people that are age 32
There are 1 people that are age 33
There are 2 people that are age 34
There are 3 people that are age 35
There are 3 people that are age 36
There are 1 people that are age 37
There are 2 people that are age 39
There are 1 people that are age 40
There are 1 people that are age 42
There are 2 people that are age 44
There are 2 people that are age 48
There are 1 people that are age 49
There are 1 people that are age 50
There are 2 people that are age 51
There are 2 people that are age 52
There are 2 people that are age 53
There are 2 people that are age 54
There are 1 people that are age 58
There are 1 people that are age 59
There are 1 people that are age 60
There are 1 people that are age 61
There are 2 people that are age 62
There are 1 people that are age 63
There are 2 people that are age 65
There are 2 people that are age 66
There are 1 people that are age 67
There are 3 people that are age 68
There are 1 people that are age 69
There are 1 people that are age 70
There are 4 people that are age 71
There are 1 people that are age 72
There are 5 people that are age 73
There are 3 people that are age 74

### Task 3: Which age group has maximum number of people?

In [31]:
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("Highest number of people: {}, came from age group {}".format(ppl, age))
    break

Highest number of people: 5, came from age group 73

### Task 4: How many people do not have a full name (Last name is blank/null)

In [38]:
res = c.execute("SELECT count(*) FROM persons WHERE last_name IS null")
for r in res:
    ro = str(r)
    row = ro.replace('(','').replace(')','').replace(',','')
    print(row)

60

### Task 5: How many people has more than one pet? (*)

In [39]:
res = c.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)")
for row in res:
    print("There are {} people with more than one pet".format(row[0]))

There are 43 people with more than one pet

### Task 6: How many pets have received treaments?

In [40]:
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1")
for r in res:
    ro = str(r)
    row = ro.replace('(','').replace(')','').replace(',','')
    print(row)

36

### Task 7: How many pets have received treatment that we know the type of?

In [41]:
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null")
for r in res:
    ro = str(r)
    row = ro.replace('(','').replace(')','').replace(',','')
    print(row)

16

### Task 8: How many pets are there from the city called "east port"

In [42]:
res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'")
for r in res:
    ro = str(r)
    row = ro.replace('(','').replace(')','').replace(',','')
    print(row)

49

### Task 9: How many pets are there from the city called "east port" and who received a treatment?

In [44]:
res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")
for r in res:
    ro = str(r)
    row = ro.replace('(','').replace(')','').replace(',','')
    print(row)

11

In [45]:
sql_connection.close()
print(check_conn(sql_connection))

False