## Numbers

In [6]:

balance = 100.10
print("Balance =", balance)
#balance = balance + 100.10
balance += 100.10
print("Balance =", balance)
balance += 100.10
print("Balance =", balance)
balance = round(balance, 2)
print("Balance =", balance)
#balance = balance + 100.10
balance -= 100.10
print("Balance = {:.2f}".format(balance))
balance -= 100.10
print("Balance =", round(balance,2))

Balance = 100.1
Balance = 200.2
Balance = 300.29999999999995
Balance = 300.3
Balance = 200.20
Balance = 100.1

In [7]:
import math as m
pw = 47.47
print("pow(balance, pow): ",m.pow(balance, pw))
print("sqrt(balance): ",m.sqrt(balance))
print("ceil(balance): ",m.ceil(balance))
print("floor(balance): ",m.floor(balance))

pow(balance, pow):  9.132835977508634e+94
sqrt(balance):  10.00499875062461
ceil(balance):  101
floor(balance):  100

In [8]:
radius = 12
circumference = m.pi * radius * 2    # 75.39822368615503
area = m.pi * m.pow(radius, 2)       # 452.3893421169302
area = m.pi * radius**2              # 452.3893421169302

In [9]:
print(area,circumference)

452.3893421169302 75.39822368615503

In [10]:
print("area: {}, circumference: {}".format(area,circumference))
print("area: {}, circumference: {}".format(circumference,area))

area: 452.3893421169302, circumference: 75.39822368615503
area: 75.39822368615503, circumference: 452.3893421169302

In [11]:
area

452.3893421169302

In [12]:
print("basic float {:.2f}".format(area))
print("more decimal float {:.4f}".format(area))
print("still more decimal float {:.6f}".format(area))
print("still more  fancy format {:15,.2f}".format(area))
print("percentage {:2%}".format(area))

basic float 452.39
more decimal float 452.3893
still more decimal float 452.389342
still more  fancy format          452.39
percentage 45238.934212%

In [13]:
arn = int(area)*100
print("integer basic {:d}".format(arn))
print("integer basic {:,d}".format(arn))
print("integer basic {:,d}".format(arn).replace(',','.'))

integer basic 45200
integer basic 45,200
integer basic 45.200

In [14]:
areabig = pow(area,circumference/10)
print("unscientific decimal {:.20e} ".format(areabig))
print("basic float {:.2e}".format(areabig))
print("more decimal float {:.4e}".format(areabig))
print("still more decimal float {:.6e}".format(areabig))

unscientific decimal 1.05218359963419410432e+20
basic float 1.05e+20
more decimal float 1.0522e+20
still more decimal float 1.052184e+20

In [15]:
print("{:10} {:>12} {:>5}".format("Description", "Price", "Qty"))
print("{:10} {:12.2f} {:5d}".format("Hammer", 9.99, 3))
print("{:10} {:12.2f} {:5d}".format("Nails", 14.5, 10))

Description        Price   Qty
Hammer             9.99     3
Nails             14.50    10

In [16]:
import locale as lc

In [17]:
#May have to do for Mac
lc.setlocale(lc.LC_ALL,"en_US")

'en_US'

In [18]:
lc.setlocale(lc.LC_ALL,"us")

'English_United States.1252'

In [19]:
currency_val = area*circumference
print(lc.currency(currency_val))
print(lc.currency(currency_val,grouping=True))

$34109.35
$34,109.35

In [20]:
lc.setlocale(lc.LC_ALL,"en_UK")
currency_val = area*circumference
print(lc.currency(currency_val))
print(lc.currency(currency_val,grouping=True))
lc.setlocale(lc.LC_ALL,"us")

¤34109.35
¤34,109.35

'English_United States.1252'

In [21]:
print(lc.format_string("%d",currency_val,grouping=True))
print(lc.format_string("%2f",currency_val,grouping=True))

34,109
34,109.352810

In [33]:
order_total = float(input("Enter order total: "))
print()               

# determine discount percent
if order_total > 0 and order_total < 100:
    discount_percent = 0
elif order_total >= 100 and order_total < 250:
    discount_percent = .1
elif order_total >= 250:
    discount_percent = .2

# calculate the results
discount = round(order_total * discount_percent,2)
#discount = order_total * discount_percent
subtotal = order_total - discount
sales_tax = round(subtotal * .05,2)
#sales_tax = subtotal * .05
invoice_total = subtotal + sales_tax

# display the results
print("Order total:     {:10,.2f}".format(order_total))
print("Discount amount: {:10,.2f}".format(discount))
print("Subtotal:        {:10,.2f}".format(subtotal))
print("Sales tax:       {:10,.2f}".format(sales_tax))
print("Invoice total:   {:10,.2f}".format(invoice_total))
print()

In [1]:
from decimal import Decimal

In [22]:
dec = Decimal(currency_val)
disc = Decimal(".1")
dsc = disc * dec
print(dsc)

3410.935281016481894766911864

In [23]:
dec = Decimal("34109.35")
disc = Decimal(".1")
dsc = disc * dec
print(dsc)

3410.935

In [25]:
print(dsc * Decimal(2))
print(dsc * Decimal(3.5))

6821.870
11938.2725

## Strings

In [31]:
children = ['Andrew','Laura','Joseph']
child = children[0]
child

'Andrew'

In [91]:
child[5]

'w'

In [32]:
print(ord(child[5]))
print(ord(child[5].upper()))

119
87

In [33]:
#string len
print(len(child))
#list len
print(len(children))

6
3

In [34]:
print(child[:3])
print(child[2:4])
print(child[4:])
print(child[:-1])

And
dr
ew
Andre

In [35]:
print(child[3:] * len(child))

rewrewrewrewrewrew

In [36]:
print('z' in child)
print('w' in child)

False
True

In [37]:
stmt = '      Country  koolaidy   '
print(stmt.isalpha())
print(stmt.islower())
print(stmt.isupper())
print(stmt.isdigit())
print(stmt.startswith('e'))
print(stmt.endswith('e'))
print(stmt.lower())
print(stmt.upper())
print(stmt.title())
print(stmt.lstrip())
print(stmt.rstrip())
print(stmt.strip())
print(stmt.ljust(20))
print(stmt.rjust(20))
print(stmt.center(20))

False
False
False
False
False
False
      country  koolaidy
      COUNTRY  KOOLAIDY
      Country  Koolaidy
Country  koolaidy
      Country  koolaidy
Country  koolaidy
      Country  koolaidy
      Country  koolaidy
      Country  koolaidy

In [38]:
print (stmt.find("k"))
print (stmt.find("o"))
#print (stmt.find("y"),9)

15
7

In [39]:
str_a = "string functions"
i = str_a.find(" ")
print(str_a[0:i])
print(str_a[i:len(str_a)])

string
 functions

In [40]:
split_a = str_a.split()
type(split_a)

list

In [41]:
split_a

['string', 'functions']

In [42]:
split_a[2]

IndexError: list index out of range

In [131]:
print(children)

['Andrew', 'Laura', 'Joseph']

In [43]:
newsplit = "Andrew|Laura|Joseph".split("|")
newsplit[1]

'Laura'

In [44]:
newsplit

['Andrew', 'Laura', 'Joseph']

In [45]:
join1 = ""
join1  += newsplit[0]
join1  += newsplit[1]
print(join1)

AndrewLaura

In [46]:
join1  = newsplit[0] + "" + newsplit[1]
print(join1)

AndrewLaura

In [47]:
children

['Andrew', 'Laura', 'Joseph']

In [48]:
"|".join(children)

'Andrew|Laura|Joseph'

In [49]:
tuple1 = ('Andrew', 'Laura', 'Joseph')
"|".join(list(tuple1))

'Andrew|Laura|Joseph'

In [50]:
child

'Andrew'

In [148]:
"!".join(child)

'A!n!d!r!e!w'

## Date and Time

In [51]:
from datetime import date,time,datetime

In [52]:
date.today()

datetime.date(2021, 5, 28)

In [53]:
datetime.now()

datetime.datetime(2021, 5, 28, 16, 4, 43, 109326)

In [54]:
bigdate = date(1319,2,13)

In [55]:
print(bigdate)

1319-02-13

In [161]:
bigdate

datetime.date(1319, 2, 13)

In [63]:
cur_time = str(datetime.now())
#2021-05-15 10:07:37.810569
print(datetime.strptime( 
    "2021-05-15 10:07:37", 
    "%Y-%m-%d %H:%M:%S"))
print(datetime.strptime("05/15/21 100737","%m/%d/%y %H%M%S"))

2021-05-15 10:07:37
2021-05-15 10:07:37

In [64]:
print(datetime.strftime(datetime.now(),"%Y-%m-%d %H:%M:%S"))
print(datetime.strftime(datetime.now(),"%m/%d/%y %H%M%S"))
print(datetime.strftime(datetime.now(),"%a, %b %m/%d/%y %H%M%S"))
print(datetime.strftime(datetime.now(),"%A, %B %m/%d/%y %H%M%S"))
print(datetime.strftime(datetime.now(),"%I%M:%S%p %f"))

2021-05-28 16:09:32
05/28/21 160932
Fri, May 05/28/21 160932
Friday, May 05/28/21 160932
0409:32PM 962429

In [65]:
#default for locale
print(datetime.strftime(datetime.now(),"%c"))
print(datetime.strftime(datetime.now(),"%x"))

5/28/2021 4:09:52 PM
5/28/2021

In [67]:
from datetime import timedelta

In [68]:
#timespan
wks_3 = timedelta(weeks=3)
day_1 = timedelta(days=1)
hour_4 = timedelta(hours=4)
micro_47=timedelta(microseconds=47)

In [69]:
type(wks_3)

datetime.timedelta

In [70]:
date.today()

datetime.date(2021, 5, 28)

In [71]:
#day2 =date.today()
day2 =datetime.now()
dtFuture = day2 +wks_3 + day_1 - hour_4
print(datetime.strftime(dtFuture,"%A, %B %m/%d/%y %H%M%S %f"))

Saturday, June 06/19/21 121102 464972

In [72]:
print((wks_3 + day_1 - hour_4).total_seconds())
print((wks_3 + day_1 - hour_4).microseconds)
print((wks_3 + day_1 - hour_4 + micro_47).microseconds)
print(((wks_3 + day_1 - hour_4).total_seconds() * 1000) + (wks_3 + day_1 - hour_4 + micro_47).microseconds)

1886400.0
0
47
1886400047.0

In [73]:
day3 = date.today()
print("month: ",day3.month)
print("day: ",day3.day)
print("year: ",day3.year)

month:  5
day:  28
year:  2021

In [74]:
day4= datetime.now()
print("sec:",day4.second)
print("hour:",day4.hour)
print("minute:",day4.minute)
print("microsec:",day4.microsecond)

sec: 57
hour: 16
minute: 12
microsec: 479433

In [75]:
halloween = date(
    date.today().year
    ,10
    ,31
)

In [76]:
halloween

datetime.date(2021, 10, 31)

In [78]:
print("hours to halloween: ",(halloween - day3).days * 24 )
print("minutes to halloween: ",(halloween - day3).days * 24 *60 )
print("seconds to halloween: ",(halloween - day3).days * 24 *60 * 60 )
print("microseconds to halloween: ",(halloween - day3).days * 24 *60 * 60 * 1000)

hours to halloween:  3744
minutes to halloween:  224640
seconds to halloween:  13478400
microseconds to halloween:  13478400000

In [79]:
def add_numbers(upper):
    total = 0
    for num in range(upper + 1):
        total += num
        #print(total)
    return total

In [85]:
add_numbers(99)

4950

In [86]:
def add_numbers(upper):
    if upper == 0:
        return upper
    else: 
        #print(upper + add_numbers(upper - 1))
        return upper + add_numbers(upper - 1)

In [87]:
add_numbers(99)

4950

In [88]:
def factorial_numbers(upper):
    if upper == 0:
        return 1
    else: 
        #print(upper + add_numbers(upper - 1))
        return upper * factorial_numbers(upper - 1)

In [92]:
float(factorial_numbers(6))/float(factorial_numbers(49))

1.183661789987937e-60

In [104]:
def fib_numbers(upper):
    if upper == 0:
        return 0
    if upper == 1:
        return 1   
    else: 
        #print( fib_numbers(upper - 1) + fib_numbers(upper - 2))
        return fib_numbers(upper - 1) + fib_numbers(upper - 2)

In [105]:
for i in range(0,20):
    print(fib_numbers(i))

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

In [106]:
range(13)

range(0, 13)

In [107]:
"9".upper()

'9'

In [119]:
import random
words = [
    "aardvark",
    "air",
    "zipper",
    "zoo"
    ]

print(words[random.randint(0,len(words)-1)])

zipper

In [116]:
print(random)

<module 'random' from 'C:\\Program Files\\Microsoft SQL Server\\150\\PYTHON_SERVER\\lib\\random.py'>

In [124]:
random.choice(words)

'zipper'